<strong>Olá, {{name }}</strong>
<p>Parabens pela sua matricula em nossa academia, segue abaixo as descriçoes do seu plano</p>
<p>
  <strong>Estudante:</strong>{{name}} <br/>
  <strong>Data de Inicio:</strong>{{date}}  <br/>
  <strong>Plano: {{title}}  </strong> <br/>
  <strong>Duração do plano: {{duration}} Meses </strong> <br/>
  <strong>Data Final:</strong>{{end_date}}  <br/>
  <strong>Preço R$:</strong>{{price}} <br/>
  <img src="logo"/> <br/>

  <small>
    Don't pay don't agin.
  </small>
</p>
